*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html, body {
    font-size: 62.5%;
    color: #333333;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    display: block;
    max-width: 80rem;
    padding: 4rem 2rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

#siteName {
    font-size: 2.5rem;
    color: inherit;
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

h2 {
    font-size: 2rem;
    margin-top: 6rem;
}

h3 {
    font-size: inherit;
    margin-top: 1rem;
}

time {
    font-size: 1.5rem;
}

ol {
    padding-left: 0;
}

ol.articles {
    list-style-type: none;
}

ol.articles li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

article {
    margin: 4rem 0;
}

article header {
    margin-bottom: 3rem;
}

p {
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
}