<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="{{ relURL "css/style.css" }}">
  </head>
  <body>
      <header>
          <nav>
              <p>
                <a href="{{ relURL "/" }}" id="siteName">t8da.com</a>
              </p>
          </nav>
      </header>
      <main>
       <img src="{{ relURL "css/img.jpg" }}">
    </main>
  </body>

</html>
